<!DOCTYPE html>
<html>
  <head>
    <title>Galeria Lens - Desafío 767 Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "fontawesome-all.min.css" %>

  <noscript><%= stylesheet_link_tag "noscript.css" %></noscript>

  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">

    <%= yield %>

    <%=javascript_include_tag("browser.min.js")%>
    <%=javascript_include_tag("jquery.min.js")%>
    <%=javascript_include_tag('breakpoints.min.js')%>
    <%=javascript_include_tag('main.js')%>

  </body>
</html>
